body {
  background-color: bisque;
}

h1 {
  text-align: center;
}

.scores:nth-child(odd) {
  background-color: azure;
}

.board,
.add-score {
  width: 30%;
}

main {
  display: flex;
  justify-content: center;
}

p {
  padding: 0;
  margin: 0;
}
